<div class="container" data-controller="duel-answer" data-url= <%=duel_answers_url%>>
  <div data-duel-answer-target= "questionDiv" data-quizz-question-id= <%=@current_duel_quizz_question.id%>>
    <div>
      <h2>Categorie : <%= @current_duel_quizz_question %></h2>
    </div>
    <div>
      <button class= "btn btn-purple"  data-difficulty-choice = "easy" data-action="click->duel-answer#difficultyChoice">Duo</button>
      <button class= "btn btn-purple"  data-difficulty-choice = "medium" data-action="click->duel-answer#difficultyChoice">Carré</button>
      <button class= "btn btn-purple"  data-difficulty-choice = "hard" data-action="click->duel-answer#difficultyChoice">Cash</button>
    </div>
  </div>
</div>
