// Define variables for your color scheme

// For example:
$red: #EE709D;
$blue: #4F50FA;
$yellow: #FFF8D4;
$orange: #FCA82F;
$green: #1EDD88;
$gray: #0E0000;
// $light-gray: #F4F4F4;

$white: #FFFFFF;
$light-gray: #FBFCFD;
$light_purple: #8085D9;
$purple: #6066D0;
