// Define variables for your color scheme

// For example:
$red: #D7263D;
$blue: #0E0E52;
$yellow: #FFBC0A ;
$orange: #FFBC0A;
$green: #6DDEB8;
$gray: #0E0000;
// $light-gray: #F4F4F4;

$white: #FFFFFF;
$light-gray: #FBFCFD;
$light_purple: #8085D9;
$purple: #6066D0
