.flashcard .questions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auto-evaluation-buttons{
  display: flex;
  align-items: center;
  width: 100%;
  > * {
    flex: 1 1 0;
    width: 0;
  }
  .btn-red{
    margin-right: 2px;
  }
  .btn-yellow{
    margin: 0 2px;
  }
  .btn-blue{
    margin: 0 2px;
  }
  .btn-green{
    margin-left: 2px;
  }
}

.flashcard .card-question{
  margin: 0;
  width: 100%;
}

.flashcard .white-container{
  height: 250px;
  justify-content: center;
}



@media(max-width: 570px){

}
