// Specific CSS for your home-page
.home .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,$light-purple  0%, $very-light-purple 180%);
  .flex-align {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  h2 {
    color: white
  }
}

.height-100vh{
  height:100vh;
  min-height: 700px;
}

.height-with-navbar{
  height:calc(100vh - 50px);
  min-height: 700px;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;

}

.text-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin-bottom: 0;
  }
}

.text-icon-header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  img{
    margin-right: 10px;
  }
}

.game-images {
  position: relative;
  height: 340px;
  padding-top: 20px;
  img{
    height: 140px;
    border: 2px solid $purple;
    border-radius: $border-radius-lg;
  }
  #img1 {

  }
  #img2 {
    position: absolute;
    left: 92px;
    top: 78px;
  }
  #img3 {
    position: absolute;
    left: 16px;
    top: 131px;
  }
  #img4 {
    position: absolute;
    left: 175px;
    top: 193px;
  }
  #img5 {
    height: 100px;
    position: absolute;
    left: 102px;
    top: 258px;
  }
}

.sign-or-log-in a {
  color: white;
}

.sign-or-log-in {
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($purple, 0.4);
  padding: 40px;
  border-radius: 8px;
  h2{
    color: white;
    text-align: center;
  }
  .design-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-check-label{
      color: white
    }
  }
}

.home .banner {
  h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: 0.9;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-bottom: 5px solid #e6e7f7;
    padding-bottom: 5px;
  }
  .btn {
    height: 70px;
  }
}

.rpg-description, .learning-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.20);
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
}


.box{
  display: flex;
  align-items: center;
  margin: 0 10px;
  width: 80%;
  justify-content: space-evenly;
  p{
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600;
    width: 330px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
  }
}

#idea-1{
  h2 {
    background-color: rgba($purple, 0.1);
    color: $purple;
  }
  p {
    border-left: 5px solid $very-light-purple;
  }
  img {
    color: $purple;
    padding: 5px 20px;
  }
}

#idea-2{
  h2 {
    background-color: rgba($orange, 0.1);
    color: $orange;
  }
  p {
    border-left: 5px solid $light-orange;
  }
  img {
    color: $orange;
    // border-bottom: 10px solid $light-orange;
    // border-top: 10px solid $light-orange;
    // border-left: 5px solid $light-orange;
    // border-right: 5px solid $light-orange;
  }
}

#idea-3{
  h2 {
    background-color: rgba($green, 0.1);
    color: $green;
  }
  p {
    border-left: 5px solid $very-light-green;
  }
  img {
    color: $green;
  }
}

.idea{
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: center;
  width: 100%;
  img{
    width: 300px;
  }
  h2{
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-weight: 600;
    width: 80%;
    border-radius: $border-radius-lg;
  }
}

.home-end-sentence {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    // border-bottom: 5px solid $light-purple;
  }
}

@media(max-width: 990px) {
  .box{
    width: 90%;
  }
  .idea h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.10);
    width: 100%;
  }

  .game-images{
    height: 300px;
    img{
      height: 100px;
    }
    #img1 {

    }
    #img2 {
      position: absolute;
      left: 61px;
      top: 53px;
    }
    #img3 {
      position: absolute;
      left: 16px;
      top: 125px;
    }
    #img4 {
      position: absolute;
      left: 175px;
      top: 180px;
    }
    #img5 {
      position: absolute;
      left: 101px;
      top: 205px;
    }
  }

}


@media(max-width: 770px) {
  .box{
    flex-direction: column;
    p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

@media(max-width: 770px) {
  .box{
    flex-direction: column;
    p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .game-images {
    display: none;
  }

  .home .banner  {
    justify-content: start;
    h1 {
      margin-top: 10px;
    }
    p {
      margin-bottom: 20px;
    }
    .flex-align {
      flex-direction: column;
      justify-content: center;
      height: 90%;
    }
  }

  .site-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
    padding-right: 0px;
    h1, p {
      text-align: center;
    }

    .text-icon-header{
      flex-direction: column;
      align-items: center;
      img{
        margin-top: 20px;
        margin-right: 0px;
        height: 80px;
        width: 80px;
      }
    }
  }

}
