.level-show{
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  background-color: $light-gray;
}

.level-show-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizz-level-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  .category-quizz, .level-stars{
    display: flex;
    align-items: center;
  }
  p {
    font-size: 20px;
    margin:0 5px;
  }
  h2{
    font-size: 32px;
    margin: 0 10px;
  }
}

.timer{
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin-bottom: 0;
  }
  i{
    margin-right: 5px;
  }
  .yellow-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgba($orange,1);
    background-color: $orange;
    color: $white;
    border-radius: $border-radius-lg;
  }
}

.questions{
  width: 80%;
  margin: auto;
}

.questions_count{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-number{
  text-align: center;
  background-color: rgba($purple, 0.1);
  border-radius: $border-radius-lg;
  color: $purple;
  height: auto;
  border: 1px solid rgba($purple, 0.1);
  height: 25px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}


.horizontal-divider{
  border-top: 3px solid $purple;
  width: 30%;
  opacity: 1;
  margin-top: 0;
}

.horizontal-divider-light{
  border-top: 1px dotted $purple;
  width: 100%;
  margin: 0.5rem;
  &.little-margin{
    margin: 0.2rem;
  }
}



.width-80 {
  margin:0.5rem 0;
  width: 80%;
  align-self: center;
}

.align-answers{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-radius{
  border-radius: $border-radius-lg;
}

@media(max-width: 992px) {
  .questions{
    width: 70%;
  }
}

@media(max-width: 768px) {
  .questions{
    width: 100%;
  }
}
