.record-show.theme-title{
  padding: 10px 0;
  height: 90px;
}

.end-quizz-sentence{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $purple;
  font-weight: bold;
  p {
    margin: 0;
    text-align: center;
  }
}

.key-results{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .crowns-display{
    margin: 0 50px;
    > img{
      margin:20px 0;
      height: 60px;
    }
  }
  .sub-key-results{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: bold;
      font-size: 32px;
      margin: 0;
    }
    .completion-percentage{
      width: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $purple;
    }
  }
  .time-display{
    width: 170px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    i {
      color: $orange;
      font-size: 32px;
      margin-right: 5px;
    }
    p {
      color: $orange;
    }
  }
}

.record-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  &>img {
    height: 80px;
  }
}

.crowns-display{
  display: flex;
  &>img {
    height: 40px;
    margin: 15px 5px 0 5px;
  }
}

.xp, .gold{
  display: flex;
  align-items: center;
  margin: 10px;

  &>p{
    margin: 0 5px;
  }
  img{
    height: 40px;
  }
}

@media(max-width: 576px){
  .sub-key-results{
    flex-direction: column;
  }
  .all-answers{
    padding: 0;
  }
}
