.theme-show{
  display: flex;
  flex-direction: column;
  align-items: center;

  .theme-title{
    display: flex;
    align-items: center;
    h1{
      font-weight: 600;
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}


.theme-level{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-level-separator{
  // display: flex;
  // align-items: center;
  // .line {
  //   flex:1;
  //   height: 3px;
  //   background-color: $purple;
  //   margin-top: 30px;
  // }
  h2 {
    text-align: center;
  }
  h2:before,
  h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  h2:before {
    right: 0.5em;
    margin-left: -50%;
  }

  h2:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.subthemes-display{
  background-color: $light-gray;
  padding: 30px;
  border-radius: $border-radius-lg;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


@media(max-width: 768px) {
  .subthemes-display{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .subthemes-display{
    grid-template-columns: 1fr;
  }
}
