h2 {
  font-size: $subtitle-size;
  font-weight: 600;
  margin-bottom: 0;
}

.theme-block-list {

  p{
    margin: 5px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .tabs {
    display: flex;
  }
}

.themes-list {
  background-color: $light-gray;
  border-radius: $border-radius-lg;
  margin: 0 5px;
  padding: 30px 10px;
}

.active-tab{
  border-bottom: 3px solid $purple;
  font-weight: 600;
}



@media(max-width: 991px) {
  .themes-list {
    padding: 30px 5px;
  }
  .banner {
    padding: 0 5px
  }
}
