.banner > h2 {
  padding: 5px;
  margin-bottom: 5px;
}

.quizz {
  .banner > h2{
    color: $purple ;
    background-color: rgba($light_purple, 0.1);
  }
  .themes-list{
    background-color: rgba($light-purple, 0.1);
  }
}

.flashcards {
  .banner > h2{
    color: $green ;
    background-color: rgba($green, 0.1);
  }
  .themes-list{
    background-color: rgba($green, 0.1);
  }

  .active-tab{
    border-bottom: 3px solid $green;
  }
}

h2 {
  font-size: $subtitle-size;
  font-weight: 600;
  margin-bottom: 0;
}

.theme-block-list {

  p{
    margin: 5px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .tabs {
    display: flex;
  }
}

.themes-list {
  border-radius: $border-radius-lg;
  margin: 0 5px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-tab{
  border-bottom: 3px solid $purple;
  font-weight: 600;
}



@media(max-width: 991px) {
  .themes-list {
    padding: 30px 5px;
  }
  .banner {
    padding: 0 5px
  }
}
