@mixin theme-block-list ($h2-color, $background-color) {
  h2 {
    font-size: $subtitle-size;
    font-weight: 600;
    margin-bottom: 0;
  }
  // p{
  //   margin: 5px;
  // }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    > h2 {
      padding: 5px;
      margin-bottom: 5px;
      color: $h2-color ;
      background-color: rgba($background-color, 0.1);
    }
  }
  .tabs {
    display: flex;
  }
  .themes-list {
    height: 460px;
    background-color: rgba($background-color, 0.1);
    border-radius: $border-radius-lg;
    margin: 0 5px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .active-tab{
    border-bottom: 3px solid $h2-color;
    font-weight: 600;
  }
}

.themes-list{
  overflow-y: scroll;
}

.themes-list::-webkit-scrollbar {
  display: none;
}

.quizz {
  @include theme-block-list($purple, $light-purple);
  @include card-theme-enhanced($purple, $light-purple);
}

.flashcards {
  @include theme-block-list($green, $green);
  @include card-theme-enhanced($green, $light-green);
}

@media(max-width: 991px) {
  .themes-list {
    padding: 30px 5px;
  }
  .banner {
    padding: 0 5px
  }
}

@media(max-width: 490px){
  .character-banner{
    height: 180px;
  }
  .theme-index-display .progressbar-wrapper{
    width: 60%;
  }
}
