.theme-title.theme-show{
  background-color: rgba($light-purple, 0.3);
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $purple;
  padding: 20px 0;
  i{
    font-size: 30px;
    margin-right: 10px;
  }
  h1{
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.theme-show{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.theme-level{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-level-separator{
  h2 {
    text-align: center;
    padding: 20px;
    color: $purple ;
    background-color: rgba($light_purple, 0.1);
    border-radius: $border-radius-lg;
  }
}

.subthemes-display{
  background-color: rgba($light-purple, 0.1);
  padding: 30px;
  border-radius: $border-radius-lg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}


@media(max-width: 990px) {
  .subthemes-display{
    grid-template-columns: 1fr;
  }
  .card-objective{
    width: 100%
  }
}

@media(max-width: 570px) {
  .subthemes-display{
    grid-template-columns: 1fr;
  }

  .subtheme-card-enhanced {
    height: 100px;
    .badge-progress {
      width: 20%;
    }
  }
  .subtheme-card-enhanced .badge-progress .badge-display {
    flex-direction: column;
     img {
      height: 25px;
      margin: 2px;
    }
  }
  .theme-title.theme-show {
    padding: 10px 0;
  }

}

@media(max-width: 500px) {
  .subtheme-card-enhanced{
    width: 380px;
  }
  .subthemes-display{
    padding: 0 10px;
  }
}


@media(max-width: 420px) {
  .subtheme-card-enhanced{
    padding: 10px 5px;
    width: 340px;
    h2 {
      font-size: 16px;
    }
  }
  .subthemes-display{
    padding: 0 10px;
  }
}
