<div class="character_banner">
  <div class="character_sprite">
    <p>Sprites</p>
  </div>
  <div class="character_description">
    <p>Préhistoire</p>
    <p>Lvl <%= @user.level %> - Homme de cro-magnon ! </p>
    <div class="character-health">
      <%= image_tag "heart (1).png", height: 14 %>
      <%= render "progress_bar", value: (@user.hp.to_f / 100 * 100).round, display_with: "#{@user.hp}/100"   %>
    </div>
    <div class="character-xp">
      <%= render "progress_bar", value: (@user.xp.to_f / 10000 * 100).round, display_with: "#{@user.xp}/10000"   %>
    </div>
  </div>
</div>
