<div class="character_banner">
  <div class="character_sprite">
    <p>Sprites</p>
  </div>
  <div class="character_description">
    <p>Préhistoire</p>
    <p>Lvl <%= @user.level %> - Homme de cro-magnon </p>
    <div class="character-health">
      <%= render "progress_bar", value: "#{@user.hp}/100"  %>
    </div>
    <div class="character-xp">
      <%= render "progress_bar", value: "#{@user.xp}/50"  %>
    </div>
  </div>
</div>
