<div class="percentage-details">
  <div class="progressbar-wrapper">
    <div title="theme_completion" class="progressbar theme-completion"></div>
  </div>
  <div>
    <p><%= value %></p>
  </div>
</div>
