<div class="row">
  <div class="theme-block-list quizz mt-5 col-md-6">
    <div class="banner">
      <h2><strong>QUIZZ</strong></h2>
      <div class="tabs">
        <p class="active-tab">Categorie</p>
        <p>Leaderboard</p>
      </div>
    </div>
    <%= render "theme_cards_display", quizz: true %>
  </div>
  <div class="theme-block-list flashcards mt-5 col-md-6">
    <div class="banner">
        <h2><strong>FLASHCARDS</strong></h2>
      <div class="tabs">
        <p class="active-tab">Nuvelle(50)</p>
        <p>Réviser(40)</p>
      </div>
    </div>
    <%= render "theme_flashcard_card_creation", quizz: false %>
  </div>
</div>
