<div class="row">
  <div class="theme-block-list col-sm-6">
    <div class="banner">
      <div class="title">
        <p>QUIZZ</p>
      </div>
      <div class="tabs">
        <p>categorie</p>
        <p>leaderboard</p>
      </div>
    </div>
    <%= render "theme_card_creation", quizz: true %>
  </div>
  <div class="theme-block-list col-sm-6">
    <div class="banner">
      <div class="title">
        <p>FLASHCARDS</p>
      </div>
      <div class="tabs">
        <p>nouvelle(50)</p>
        <p>réviser(50)</p>
      </div>
    </div>
    <%= render "theme_card_creation", quizz: false %>
  </div>
</div>
