<div class="themes-list">
  <% @themes.each do |theme| %>
    <%=link_to theme_flashcards_path(theme) do%>
      <div class="card-enhanced flashcard">
        <div class="icon">
          <i class="fas fa-atlas"></i>
        </div>
        <div class="content">
          <h2>Geographie</h2>
          <div class="theme-progress">
            <%= render "shared/progress_bar", value: "10/50", display_with: "%"  %>
          </div>
        </div>
        <div class="flashcard-count">
          <% flashcards_to_learn_count = current_user.flashcards.select{|flashcard| flashcard.repetition == 0 && flashcard.question_answer.theme == theme}.count %>
          <h2> <%= flashcards_to_learn_count %>   </h2>
          <p>à faire</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
