<div class="themes-list">
  <% @themes.each do |theme| %>

    <% if for_ == "to_learn" %>
      <% flashcards_count = theme_flashcards_to_learn(theme).count %>
      <% url = "theme/#{theme.id}/flashcards/learn" %>
    <% else %>
      <% flashcards_count = theme_flashcards_to_revise(theme).count %>
      <% url = "theme/#{theme.id}/flashcards/revise" %>
    <% end %>
    <a href= <%=url%> >
      <div class="card-enhanced flashcard">
        <div class="icon">
          <i class="fas fa-atlas"></i>
        </div>
        <div class="content">
          <h2>Geographie</h2>
          <div class="theme-progress">
            <%= render "shared/progress_bar", value: "10/50", display_with: "%"  %>
          </div>
        </div>
        <div class="flashcard-count">
          <h2> <%= flashcards_count %>   </h2>
          <p>à faire</p>
        </div>
      </div>
    </a>
  <% end %>
</div>
