<div class="themes-list">
  <% @themes.each do |theme| %>
    <div class="theme-quizz-card">
      <div class="theme-title">
        <p>geo ico</p>
        <div><%=link_to theme.name, theme_path(theme)%></div>
      </div>
      <div class="theme-progress">
        <%= render "progress_bar" %>
        <% if defined?(quizz) && quizz %>
          <p>cr 10</p>
          <p> sp 0</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
