<div class="themes-list">
  <% @themes.each do |theme| %>
    <%=link_to theme_path(theme) do%>

      <div class="theme-flashcard-card">
        <div class="separator">
          <div class="theme-title">
            <%= cl_image_tag theme.photo.key, height: 20, crop: :fill %>
            <p><%=theme.name.upcase%></p>
          </div>
          <div class="theme-progress">
            <%= render "progress_bar", value: "10/50", display_with: "%"  %>
          </div>
        </div>
        <div class="flashcard-count">
          <h2>14</h2>
          <p>à faire</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
