<div class="card-enhanced">
  <div class="icon">
    <i class="fas fa-atlas"></i>
  </div>
  <div class="content">
    <h2>Geographie</h2>
    <div class="achievements-count">
      <div class="achievement-count">
        <%= image_tag 'crown.png' %>
        <p><%= @total_crowns %> </p>
      </div>
      <div class="achievement-count">
        <%= image_tag 'sphere.png' %>
        <p><%= @total_spheres %></p>
      </div>
    </div>
  </div>
  <div class="circle-wrap">
    <div class="circle">
      <div class="mask half">
        <div class="fill"></div>
      </div>
      <div class="mask full">
        <div class="fill"></div>
      </div>
      <div class="inside-circle"> 75% </div>
    </div>
  </div>
</div>
