
<div class="themes-list">
  <% @themes.each do |theme| %>

    <% total_won_flashcards = current_user.flashcards.includes([:question_answer]).includes([:theme]).select {|flashcard| flashcard.theme == theme}.count %>
    <% total_theme_flashcards = Theme.find(theme.id).question_answers.count%>
    <% if for_ == "to_learn" %>
      <% flashcards_count = theme_flashcards_to_learn(theme).count %>
      <% url = "theme/#{theme.id}/flashcards/learn" %>
    <% else %>
      <% flashcards_count = theme_flashcards_to_revise(theme).count %>
      <% url = "theme/#{theme.id}/flashcards/revise" %>
    <% end %>
    <a href= <%=url%> >
      <div class="card-enhanced flashcard">
        <div class="icon">
          <i class="fas fa-atlas"></i>
        </div>
        <div class="content">
          <h2>Geographie</h2>
          <div class="theme-progress">
            <% percentage_won_flashcards = (total_theme_flashcards != 0 ? (total_won_flashcards.to_f/total_theme_flashcards*100).round(0) : 0)  %>
            <%= render "shared/progress_bar", value: percentage_won_flashcards, display_with: "#{percentage_won_flashcards}%"  %>
          </div>
        </div>
        <div class="flashcard-count">
          <h2> <%= flashcards_count %>   </h2>
          <p>à faire</p>
        </div>
      </div>
    </a>
  <% end %>
</div>
