<div class="themes-list">
  <% @themes.each do |theme| %>
    <%=link_to theme_path(theme) do%>
      <div class="card-enhanced flashcard">
        <div class="icon">
          <i class="fas fa-atlas"></i>
        </div>
        <div class="content">
          <h2>Geographie</h2>
          <div class="theme-progress">
            <%= render "progress_bar", value: "10/50", display_with: "%"  %>
          </div>
        </div>
        <div class="flashcard-count">
          <h2>14</h2>
          <p>à faire</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
