<% if defined? level %>
  <% difficulty = level.name  %>
<% elsif defined? difficulty_choice %>
  <% difficulty = difficulty_choice %>
<% end %>
<div class="stars">
  <%if difficulty == "Facile"%>
    <%@stars_count = 1%>
  <%elsif difficulty == "Moyen"%>
    <%@stars_count = 2%>
  <%elsif difficulty == "Difficile"%>
    <%@stars_count = 3%>
  <%end%>
  <% @stars_count.times do %>
    <%= image_tag 'star1.png' %>
  <% end %>
</div>
