<div class="theme-title quizz-title">
  <div class="quizz-level-title">
    <div class = "category-quizz">
      <%= image_tag quizz.category.img_src, height: 32 %>
      <h2><%= "#{quizz.category.subtheme.name.upcase} - #{quizz.name.upcase}" %></h2>
    </div>
    <div class = "level-stars">
      <%= render "shared/level_stars", level: quizz_level %>
    </div>
  </div>

</div>
