<% if @display_indication || true %>
  <div class="indications-box" data-controller="indications">
    <div class="indications">
      <%= sentence.html_safe %>
    </div>
    <button class="btn x" data-action="click->indications#displayNone">
      <p>x</p>
    </button>
  </div>
<% end %>
