<div class="results leaderboard col-lg-6">
  <div class="banner">
    <h2>Leaderboard</h2>
  </div>
  <div class="record-card" data-record-target="records">
    <%= render "page_leaderboard" %>
  </div>
</div>
