<a data-quizz-answer-target="endButton" href="/records/<%=@record.id%>"></a>



<%# NOT WORKING WITH HYPHEN %>

<%# <%= link_to "endgame", record_path(@record), data_quizz_answer_target: 'endButton' %>
