<h1>dzajodzajopzaopj</h1>

<%# <%= @synthesis.each do |answer_synthesis|%> %>
<%# <p>question : <%= answer_synthesis[:question] %></p> %>
<%# <p>answer : <%= answer_synthesis[:question_answer] %></p> %>
<%# <p>user answer : <%= answer_synthesis[:user_answer] %></p> %>
<%# <% end %> %>
