<%= render 'shared/character_banner' %>
<div class="theme-title theme-show">
  <h1>Arene</h1>
</div>

<div class="container my-5">
  <h2> L'arène est en cours de construction et sera prochainement disponible</h2>
  <p>En attendant, continue de d'entrainer pour être prêt à battres les autres héros dans l'arène</p>
</div>
