<div class="theme-title theme-show">
  <h1>Foire aux Questions</h1>
</div>

<div class="container">
  <div class="my-5 accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Bien que je sois content de ne pas en perdre, à quoi sert la vie de mon personnage ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          La vie de votre personnage servira lorsque la nouvelle fonctionnalité "Arène" sera disponible.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Une flash quoi ? Flashcard ? Kezako ?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Les flashcards représentent un système basée sur les répititons espacées.
          <br> L'objectif étant d'optimiser l'apprentissage d'une carte, et plus généralement d'une notion. Pour cela, les flashcards repose sur un algorithme, qui représentera la carte au moment le plus important, à savoir au moment ou le cerveau est sur le point d'oublier la notion.
          <br> A noter que l'algorithme n'est bien évidemment pas parfait.
          <a href="https://fr.wikipedia.org/wiki/R%C3%A9p%C3%A9tition_espac%C3%A9e" target="_blank">  Pour en savoir plus : cf. wikipédia</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          J'ai eu 100% des réponses juste au quizz, mais pas possible d'avoir les 3 couronnes...
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Déjà bravo pour avoir eu 100% des bonnes réponses.
          <br>Pour avoir les 3 couronnes, il faut avoir 100% de bonnes réponses, sous un certain temps limite.
          <br>Ce temps varie en fonction de la difficulté (facile, moyen, difficile) et du nombre de questions dans le quizz.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Parfois je gagne 1 couronne et je ne débloque rien, parfois 2 couronnes... comment cela fonctionne ?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Pour un Quizz donné :
          <br> - Pour débloquer le niveau Moyen : obtenir 1 couronne au niveau Facile
          <br> - Pour débloquer le niveau Difficile : obtenir 1 couronne au niveau Moyen
          <br> - Battre le niveau Moyen avec 2 couronnes permet de débloquer le quizz suivant
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          Très bien, donc si je comprends bien, gagner 3 couronnes ne sert à rien !?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Plusieurs avantages à gagner 3 couronnes à quizzs : <br>
          - Un bonus est accordé dans le calcul des pièces d'or et expérience gagnés en fonction du nombre de couronnes remportées.<br>
          - Débloquer les "Succès" basés sur le nombre de couronnes remportées globalement ou dans une thématique donnée.<br>
          - Il permet de s'assurer de la connaissance de la notion (beacoup plus difficile que le niveau moyen)<br>
        </div>
      </div>
    </div>
  </div>
</div>
