@mixin btn($color) {
  height: 55px;
  width: 150px;
  background: $color;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
  a {
    color: white;
  }
  &:hover{
    transition: all 0.3s;
    background-color: white;
    color: $color;
    a {
      color: $color
    }
  }
}


.btn-purple.margin-auto{
  margin: auto;
}


.btn-tab{
  color:black;
  background: none;
  border: none;
}


.btn-green{
  @include btn($green);
}

.btn-red{
  @include btn($red)
}

.btn-yellow{
  @include btn($yellow)
}

.btn-purple{
  @include btn($purple)
}

.btn-blue{
  @include btn($blue)
}

.btn-big-no-padding{
  height: 100px;
  min-height: 80px;
  padding-left: 0;
  padding-right: 0;
}

.btn-big-width{
  width: 180px;
}

.btn-cancel-bootstrap{
    border: none;
}

.btn-width-90{
  width: 90%;
}
