.btn-purple{
  height: 55px;
  width: 150px;
  background: $purple;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;

  &:hover{
    transition: all 0.3s;
    background-color: white;
    color: $purple
  }
}

.btn-purple.margin-auto{
  margin: auto;
}
