@mixin box_properties {
  height: 80px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  margin:10px;
  padding: 5px 10px;
  height: 50%;
  font-weight: 600;

  .theme-title{
    display: flex;
    align-items: center;
    margin-bottom:10px;

    p{
      margin-bottom: 0;
      font-size: 16px;
      border-bottom: 2px solid black;
    }
  }

  .theme-progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px, 10px;
  }
}

a{
  display: block;
  text-decoration: none;
  color: black
}

.theme-quizz-card {
  @include box_properties;
  position: relative;
  overflow: hidden;
  z-index:0;


  .achievement_count{
    display: flex;
    align-items: center;
    img{
      height: 15px;
    }
  }

  // test for hovering
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: $purple;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  &:hover:before {
    transform: scale(21);
  }
}

.theme-flashcard-card {
  @include box_properties;

  display: flex;
  align-items: center;
  .flashcard-count {
    border-left: 2px solid black;
    padding-left: 8px;

    h2{
      font-size: $subtitle-size;
      margin: 0px;
      border-bottom: none;
    }

    p {
      margin: 0px;
      font-weight: 400;
    }
  }

  .separator {
    flex-grow: 1;
  }

  position: relative;
  overflow: hidden;
  z-index:0;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: $purple;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  &:hover:before {
    transform: scale(21);
  }
}


.theme-quizz-card:hover, .theme-flashcard-card:hover{
  transition: all 0.3s ease-out;
  background-color: $purple;
  color: white;

  .theme-title p {
    color:white;
    border-bottom: 2px solid white;
  }

  .progressbar{
    background-color: $light_purple;
  }

  .progressbar-wrapper{
    background-color: white;
  }

  .flashcard-count{
    border-left: 2px solid $white;
  }
}



.subtheme-card{
  height: 140px;
  width: 200px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  font-weight: 600;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .subtheme-card-banner{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 0 0;
    padding: 10px 0;

    .quizz-cards-count{
      display: flex;
    }

    p{
      margin-bottom: 0;
      text-align: center;
    }
    img{
      height: 20px;
      margin-right:5px ;
    }
  }


  position: relative;
  overflow: hidden;
  z-index:0;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: $purple;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  &:hover:before {
    transform: scale(21);
  }
}

.subtheme-card:hover{
  transition: all 0.3s;
  background-color: $purple;
  color: white;
  .subtheme-card-banner{
    border-bottom: 2px solid white;
  }
}



.card-objective{
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  background-color: rgba($yellow, 0.4);
  display: flex;
  align-items: center;
  padding: 10px;
  p{
    margin-bottom:0;
    margin-left: 20px;
  }

  img{
    // background-color:rgba($yellow, 0.8);
    // border: 1px solid rgba($yellow, 0.8);
    padding: 10px;
    // border-radius: $border-radius-lg;
  }
}

.subtheme-card-progress{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex:1;
}


.quizz-card{
  height: 220px;
  width: 380px;
  background: white;
  box-shadow: 1.95px 1.95px 4.6px rgba(0, 0, 0, 0.20);
  border-radius: $border-radius-lg;
  font-weight: 600;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
  position: relative;

  .unlocked-cadenas{
    position: absolute;
    margin: auto;
    align-self: center;
    z-index: 4;
    opacity: 0.5;
  }

  .unlocked-cadenas-lg{
    height: 130px;
  }

  .unlocked-cadenas-md{
    height: 50px;
  }

  .quizz-card-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      margin-bottom: 0;
      text-align: center;
    }
    img{
      height: 20px;
    }
  }

  .cards-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba($light_purple, 0.1);
    border-radius: $border-radius-lg;
    color: $purple;
    // margin-right: 8px;
    height: 70px;
    border: 1px solid rgba($light_purple, 0.1);
    font-size: 16px;
    width: 100px;
    p{
      margin-bottom: 0px;
    }
  }

  .content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .achievement-count{
    display: flex;
    align-items: center;
    p{
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 5px;
      margin-right: 8px;
      font-weight: bold;
    }
    img{
      height: 15px;
    }
  }

  .ranking{
    text-align: center;
    background-color: rgba($green, 0.1);
    border-radius: $border-radius-lg;
    color: $green;
    // margin-right: 8px;
    height: auto;
    border: 1px solid rgba($green, 0.1);
    padding: 10px;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100px;
    // border-left: dotted 1px $purple;
    h2 {
      font-size: 20px
    }
    sup{
      font-size: 16px;
    }
  }

}

.levels-display{
  display: flex;
  justify-content: space-around;
  a:hover{
    transition: all 0.3s;
    color: black;
  }
}

.level{
  height: 100px;
  width: 100px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  position: relative;
}

.level-hovering:hover{
  transition: all 0.3s;
  background-color: $purple;
  color: white;
  .subtheme-card-banner{
    border-bottom: 2px solid white;
  }
}

.stars{
  display: flex;
  justify-content: space-around;
}

.level_crowns img{
  height:24px;
}

.uncompleted-crown{
  opacity: 0.3;
}
