.theme-quizz-card {
  height: 80px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  margin:10px;
  padding: 5px 10px;
  height: 50%;

  .theme-title{
    display: flex;
    margin: 5px, 10px;
  }

  .theme-progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px, 10px;
  }

  a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    border-bottom: 2px solid $purple;
  }

  p{
    margin-bottom: 0;
  }
}


.theme-flashcard-card {
  height: 80px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  margin:10px;
  padding: 5px 10px;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .theme-title{
    display: flex;
    margin: 5px, 10px;
  }

  .theme-progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px, 10px;
  }

  a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    border-bottom: 2px solid $purple;
  }

  p{
    margin-bottom: 0;
  }

  .flashcard-count {
    border-left: 2px solid $purple;
    padding-left: 8px;
    h2{
      font-size: $subtitle-size;
      margin: 0px;
    }
    p {
      margin: 0px;
    }
  }

  .separator {
    flex-grow: 1;
  }
}
