@mixin box_properties {
  height: 80px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  margin:10px;
  padding: 5px 10px;
  height: 50%;
  font-weight: 600;

  .theme-title{
    display: flex;
    align-items: center;
    margin-bottom:10px;

    p{
      margin-bottom: 0;
      font-size: 16px;
      border-bottom: 2px solid black;
    }
  }

  .theme-progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px, 10px;
  }
}

a{
  display: block;
  text-decoration: none;
  color: black
}

.theme-quizz-card {
  @include box_properties;

  .achievement_count{
    display: flex;
    align-items: center;
    img{
      height: 15px;
    }
  }
}

.theme-flashcard-card {
  @include box_properties;

  display: flex;
  align-items: center;
  .flashcard-count {
    border-left: 2px solid black;
    padding-left: 8px;

    h2{
      font-size: $subtitle-size;
      margin: 0px;
      border-bottom: none;
    }

    p {
      margin: 0px;
      font-weight: 400;
    }
  }

  .separator {
    flex-grow: 1;
  }
}


.theme-quizz-card:hover, .theme-flashcard-card:hover{
  background-color: $purple;
  color: white;

  .theme-title p {
    color:white;
    border-bottom: 2px solid white;
  }

  .progressbar{
    background-color: $light_purple;
  }

  .progressbar-wrapper{
    background-color: white;
  }

  .flashcard-count{
    border-left: 2px solid $white;
  }
}


.subtheme-card{
  height: 140px;
  width: 200px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  font-weight: 600;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .subtheme-card-banner{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
      margin-bottom: 0;
      text-align: center;
    }
    img{
      height: 20px;
    }
  }
}

.subtheme-card:hover{
  background-color: $purple;
  color: white;
  .subtheme-card-banner{
    border-bottom: 2px solid white;
  }
}



.card-objective{
  border-radius: $border-radius-lg;
  background-color: $yellow;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 10%;
  p{
    margin-bottom:0;
    margin-left: 20px;
  }
}

.subtheme-card-progress{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex:1;
}
