.character-banner {
  background-color: rgba($light_purple, 0.9);
  height: 160px;
  display: flex;
  align-items: center;

  .character-sprite {
    margin: 20px;
    img {
      height: 120px;
    }
  }

  .character-description {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    color: white;
    margin-bottom: 0
  }

}

// spceial css for modal level up
.unlock-item-display .character-xp{
  width: 80%;
  transition: all 3s;
  justify-content: center;
}
