.circle-wrap {
  width: 58px;
  height: 58px;
  background: rgba($light_purple, 0.5);
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 58px;
  height: 58px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 58px, 58px, 29px);
}

.mask.full,
.circle .fill {
  transition: transform ease-in-out 1s;
  transform: rotate(0deg);
}

.mask .fill {
  clip: rect(0px, 29px, 58px, 0px);
  background-color: $purple;
}

.circle-wrap .inside-circle {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #FFF;
  line-height: 47px;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  color: $purple;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1em;
}

//  https://dev.to/shantanu_jana/circular-progress-bar-using-html-and-css-1oda
