.achievement-modal {
  .modal-content {
    border: none !important;
  }

  .modal-content .modal-header{
    position: relative;
    padding: 0;
    border: none;
    height: 190px;
    background: $light-purple;
    background: linear-gradient(0deg,$light-purple 0%, $purple 100%);
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -30px;
      overflow: visible;
      width: 50%;
      height: 60px;
      transform: skewY(10deg);
      background-color: #fff;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -30px;
      overflow: visible;
      width: 50%;
      height: 60px;
      z-index: 1;
      transform: skewY(-10deg);
      background-color: #fff;
    }
  }

  .modal-content .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    color: #fff;
    &:focus{
      box-shadow: none;
    }
  }

  .modal-content .modal-body {
    border: none;
    overflow: hidden;
    margin-top: -160px;
    z-index: 2;
  }

  .modal-content .modal-body h1 {
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  .modal-content .modal-body .progressbar-wrapper {
    width: 100%;
  }

  .modal-content .modal-body .achievement-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 140px;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: white;
    .img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
    }
  }

  .modal-footer {
    justify-content: center !important;
    border-top: none !important;
  }
}

.unlock-item-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  p {
    text-align: center;
    margin: 10px 0;
  }
}

.record-modal {

  .modal-content {
    border: none !important;
    background: rgba(#E6E7F7, 1);
  }

  .modal-content .modal-header{
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    border: none;
    height: 150px;
    background: $light-purple;
    background: linear-gradient(0deg,$light-purple 0%, $purple 100%);
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -30px;
      overflow: visible;
      width: 50%;
      height: 60px;
      transform: skewY(10deg);
      background-color: rgba(#E6E7F7,1);
      ;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -30px;
      overflow: visible;
      width: 50%;
      height: 60px;
      z-index: 1;
      transform: skewY(-10deg);
      background-color: rgba(#E6E7F7, 1);
    }
  }

  .modal-header h1 {
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  .modal-content .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    color: #fff;
    &:focus{
      box-shadow: none;
    }
  }

  .modal-content .modal-body {
    border: none;
    overflow: hidden;
    margin-top: 0px;
    z-index: 2;
  }

  .modal-footer {
    justify-content: center !important;
    border-top: none !important;
  }

  .white-container {
    margin: 10px 0;
    max-height: 300px;
    overflow-y: scroll;
    justify-content: start;
  }
}


.character-modal{


  .modal-content {
    border: none !important;
    display: block;
  }

  .modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    padding: 0;
    height: 70px;
    background: linear-gradient(0deg,$light-purple 0%, $purple 100%);
  }

  .modal-content .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    color: #fff;
    &:focus{
      box-shadow: none;
    }
  }

  .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-footer {
    justify-content: center !important;
    border-top: none !important;
  }
  .img-choices {
    background-color: rgba($purple, 0.1);
    border-radius: $border-radius-lg;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .body-category{
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 90%;
    background-color: white;
    border-radius: $border-radius-lg;
    padding: 10px 0;
    overflow-x: scroll;
  }

  .single-item{
    background-color: white;
    border-radius: $border-radius-lg;
    margin: 0 5px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    flex-grow: 1;
    margin: 0 5px;
  }

  .single-item.locked {
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
    img{
      filter: blur(3px)
    }
  }

  .single-item.btn:active{
    outline: none !important;
    border: none !important;
  }

  .hair-img{
    clip-path: inset(0px 0px 20px 0px);
    position: absolute;
    top: 12px;
    right: -3px;
  }
  .head-img{
    clip-path: inset(0px 0px 0px 0px);
  }
  .body-img{
    clip-path: inset(20px 0px 0px 0px);
    position: absolute;
    top: -8px;
    right: -1px;
  }
}


.character-modal .body-category::-webkit-scrollbar {
  display: none;
  // height: 0px; /* If value is 0px, the horizontal bar will disappear but still works*/
}
