.navbar {
  justify-content: space-between;
  background: $purple;
  height: 50px;
  a {
    color: white
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .pieces, .navbar .gemme{
  display: flex;
  align-items: center;
}
