.percentage-details{
  display: flex;
  align-items: center;
  flex-grow: 0.9;
}

.progressbar-wrapper {
  background-color: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  width: 50%;
  height: 80%;
  margin-right: 5px;
  .theme-completion{
    width: 50%;
  }
}

.progressbar {
  background-color: $blue;
  padding: 5px;
  border-radius: $border-radius-lg;
}

.character-xp .progressbar {
  background-color: $orange;
}

.character-health .progressbar {
  background-color: $red;
}
