.card-question{
  margin: auto;
  // width: 80%;
  // background: white;
  background-color: rgba($purple, 1);
  color: white;
  box-shadow: 1.95px 1.95px 4.6px rgba(0, 0, 0, 0.20);
  border-radius: $border-radius-lg;
  padding: 20px 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // min-height: 200px;
  height: 300px;
  width: 100%;
  h2{
    // margin-top: 10px;
    text-align: center;
    width: 80%;
  }
  .white-container {
    // width: 70%;
  }
  img {
    // height: 80%;
    border-radius: $border-radius-lg;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  }

    img {
      max-height: 80%;
      max-width: 75%;
      // height: auto\9; /* ie8 */
  }

}

.answer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 50%;
}

.answer{
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  align-items: center;
  min-height: 180px;
  height: 100%;
  // set the height of maximal cell height
  grid-auto-rows: 1fr;
  grid-row-gap: 16px;
  button {
    height: 100%;
    max-height: 150px;
    width: 150px;
  }
}

.card-answer{
  height: 110px;
  width: 130px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // margin: 0 20px ;
  margin: auto;
  text-align: center;
  border: none;

  &:hover{
    background-color: $purple;
    color: white;
    border: none;
    .subtheme-card-banner{
      border-bottom: 2px solid white;
    }
  }

}

.green-background{
  background-color: $green;
  transition: background-color 0.7s;
  .form-control:focus{
    background-color: $green;
    transition: background-color 0.7s;
  }
}

.red-background{
  background-color: $red;
  transition: background-color 0.7s;
}

.redbackground.form-control:focus{
  background-color: $red;
  transition: background-color 0.7s;
}

.form-control:focus{
  background-color: none !important;
}

.purple-20-background{
  background-color: rgba($purple, 0.8);
}

.purple-10-background{
  background-color: rgba($purple, 0.4);
}

.purple-5-background{
  background-color: rgba($purple, 0.2);
}
