.card-question{
  margin: auto;
  width: 80%;
  // background: white;
  background-color: rgba($purple, 1);
  color: white;
  box-shadow: 1.95px 1.95px 4.6px rgba(0, 0, 0, 0.20);
  border-radius: $border-radius-lg;
  padding: 20px 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h2{
    margin-top: 10px;
    text-align: center;
  }

}

.answer{
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  align-items: center;
}

.card-answer{
  height: 110px;
  width: 130px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // margin: 0 20px ;
  margin: auto;

  &:hover{
    background-color: $purple;
    color: white;
    .subtheme-card-banner{
      border-bottom: 2px solid white;
    }
  }

}

.green-background{
  background-color: $green;
  transition: background-color 0.7s;
  .form-control:focus{
    background-color: $green;
    transition: background-color 0.7s;
  }
}

.red-background{
  background-color: $red;
  transition: background-color 0.7s;
}

.redbackground.form-control:focus{
  background-color: $red;
  transition: background-color 0.7s;
}

.form-control:focus{
  background-color: none !important;
}
