@mixin white-background-box{
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
}

@mixin box_properties {
  height: 80px;
  background: white;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-lg;
  margin:10px;
  padding: 5px 10px;
  height: 50%;
  font-weight: 600;

  .theme-title{
    display: flex;
    align-items: center;
    margin-bottom:10px;

    p{
      margin-bottom: 0;
      font-size: 16px;
      border-bottom: 2px solid black;
    }
  }

  .theme-progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px, 10px;
  }
}
