@mixin card-theme-enhanced($color, $background_color) {
  .card-enhanced {
    @include white-background-box;
    @include hovering($color, $background_color);
    height: 80px;
    margin:10px 0;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      background-color: rgba($background_color, 0.3);
      border-radius: $border-radius-lg;
      color: $color;
      margin-right: 8px;
      border: 1px solid rgba($background_color, 0.1);
      i{
        padding: 10px;
        font-size: 35px;
      }
    }
  }
}

.card-enhanced .content{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 5px;
  .achievements-count{
    display: flex;
    align-items: center;
  }
  .achievement-count{
    display: flex;
    align-items: center;
    p{
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 5px;
      margin-right: 8px;
      font-weight: bold;
    }
    img{
      height: 15px;
    }
  }
};

.card-enhanced.flashcard{
  .flashcard-count{
    border-left: 2px dotted $green;
    padding-left: 8px;
    p {
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  .progressbar-wrapper{
    background-color: rgba($green, 0.1);
  }
  .progressbar{
    background-color: ($green);
  }
  z-index: 2;
  position: relative;

  .unlocked-cadenas{
    position: absolute;
    margin: auto;
    align-self: center;
    z-index: 4;
    opacity: 0.5;
  }
}

.cancel-flashcard-hovering{
  pointer-events: none;
}
